@model AskSpotify.Models.ResultsViewModel

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Search", "Search", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-md-12">
        <h3 class="h-center">Ask spotify for recommendations</h3>
        <h5 class="h-center">
            You can search for artist, year, track name, album name etc.
            <br />
            Example: Sting Boots
        </h5>
        <div class="form-group h-center col-md-12">
            <div>
                @Html.LabelFor(m => m.SearchString, new { @class = "col-md-4 control-label" })
                @Html.TextBoxFor(m => m.SearchString, new { @class = "col-offset-2 col-md-6 form-control" })
                @Html.ValidationMessageFor(m => m.SearchString, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
        <hr />
        @if (Model?.Tracks?.Items != null)
        {
            <div class="col-md-10">
                <h3>@Model.Tracks.Items.Count() results (@Model.Tracks.total total)</h3>
                <div class="col-md-12">
                    Spotify url: @Model.Tracks.href
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="col-md-4">
                        Name
                    </div>
                    <div class="col-md-4">
                        Duration
                    </div>
                    <div class="col-md-4">
                        Url
                    </div>
                </div>
                @foreach (var track in Model.Tracks.Items)
                {
                    <div class="col-md-12">
                        <div class="col-md-4">
                            @track.name
                        </div>
                        <div class="col-md-4">
                            @track.duration_ms ms
                        </div>
                        <div class="col-md-4">
                            <a href="@track.href">
                                @if (track.href.Length > 50)
                                {
                                    @track.href.Substring(0, 47)
                                }
                                else
                                {
                                    @track.href
                                }
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
